@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  padding-top: 5em;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1em;
  text-align: center;
}
.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198,198,198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}
.item {
  width: 150px;
  min-height: 100%;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198,198,198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  background: #f7f6f7;
  color: #828282;
  text-align: center;
  cursor: grab;
}
.item:active {
  cursor: grabbing;
}
.placeholder {
  width: 150px;
  height: 66px;
}
.start {
  background: linear-gradient(90deg, #aaaaaa 0%, #050505 179.25%);
}
.progress {
  background: linear-gradient(90deg, #757575 0%, #2e2e2e 100%);
}
.done {
  background: linear-gradient(90deg, #555555 0%, #000000 100%);
}
.hide {
  display: none;
}
.hold {
  border: 3px solid rgb(138, 138, 138);
}
.hovered {
  border-top: 2px solid #707070;
}